@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cutive+Mono&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=GFS+Didot&family=Italianno&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sawarabi+Gothic&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "GFS Didot";
}

:root {
  --PrimaryColor: rgb(203, 161, 55);
  --SecondaryColor: rgb(152, 113, 14);
  --textColor: rgb(218, 195, 142);
  --iconColor: antiquewhite;
  --gradientColor: linear-gradient(to right, yellow, rgb(255, 195, 42));
  --backgroundColor1: rgba(0, 0, 0, 0.4);
  --backgroundColor2: rgba(0, 0, 0, 0.2);
  --whiteColor: white;
  --blackColor: black;
  --PrimaryColorBG: rgba(218, 165, 32, 0.5);
  --textColorNegative: rgb(64, 59, 53);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.icon {
  font-size: 2rem;
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.btn {
  padding: 0.6rem 1.5rem;
  font-style: "Italianno", "Helvetica", serif;
  color: var(--textColor);
  background: linear-gradient(to right, var(--SecondaryColor), var(--PrimaryColor));
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
}
.home .bannerSection {
  position: relative;
  width: 100%;
  height: 50vw;
}
.home .bannerSection .image {
  position: absolute;
  display: flex;
  align-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: 2.5s;
}
.home .bannerSection .fadeIn {
  opacity: 1;
  transition: 2.5s;
}
.home .bannerSection .fadeOut {
  opacity: 0;
  transition: 2.5s;
}
.home .titleSection {
  position: relative;
}
.home .titleSection .homeTitle {
  font-size: 4.5rem;
  color: var(--PrimaryColor);
  text-shadow: 5px 5px 7px rgb(72, 54, 10);
  text-align: center;
  margin: 0 auto;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}
.home .titleSection .homeTitle .h1_2 {
  font-family: "Cedarville Cursive", "Helvetica", serif;
}
.home .titleSection .subtitle {
  font-size: 2rem;
  text-align: center;
  color: var(--PrimaryColor);
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .home {
    padding-top: 5.5rem;
  }
  .home .titleSection .homeTitle {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 550px) {
  .home {
    padding-top: 7rem;
  }
  .home .titleSection .homeTitle {
    padding-top: 2.5rem;
    font-size: 2.5rem;
  }
  .home .titleSection .subtitle {
    font-size: 1.25rem;
  }
}
.news {
  width: 90%;
  margin: 0 auto;
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.news .newsTitle {
  font-size: 2.5rem;
  color: var(--PrimaryColor);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.news .newsSecContent {
  justify-content: center;
  gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3rem;
}
.news .newsSecContent .newsCard {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 375px;
  max-height: auto;
  border: 1px solid rgb(24, 20, 12);
  border-radius: 5px;
  background: var(--backgroundColor2);
  padding-bottom: 25px;
  margin: 0 auto;
  transition: 0.5s;
  cursor: pointer;
}
.news .newsSecContent .newsCard:hover {
  transition: 1s;
  transform: scale(1.05);
  box-shadow: 0 0 15px 15px rgb(19, 19, 19);
  background-color: var(--backgroundColor1);
}
.news .newsSecContent .newsCard img {
  width: 375px;
  width: 375px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 0.5rem;
}
.news .newsSecContent .newsCard .newsCardInfo {
  padding: 1.5rem;
  line-height: 1.5;
}
.news .newsSecContent .newsCard .newsCardInfo .newsCardTitle {
  font-size: 1.75rem;
  color: var(--PrimaryColor);
  padding-bottom: 1.5rem;
  text-align: center;
}
.news .newsSecContent .newsCard .newsCardInfo .newsLinkName {
  font-size: 1.5rem;
  color: var(--PrimaryColor);
  text-align: center;
  transition: 0.3s;
  padding-top: 1rem;
}
.news .newsSecContent .newsCard .newsCardInfo .newsLinkName:hover {
  color: rgb(255, 230, 167);
  transition: 0.3s;
}
.news .newsSecContent .newsCard .newsCardInfo .newsCardSubtitle, .news .newsSecContent .newsCard .newsCardInfo .newsText, .news .newsSecContent .newsCard .newsCardInfo .newsLink {
  font-size: 1.4rem;
  text-align: center;
  color: var(--SecondaryColor);
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 800px) {
  .news {
    width: 100%;
    padding-top: 3.5rem;
  }
  .news .newsTitle {
    font-size: 2rem;
    padding-bottom: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .news {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
  }
  .news .newsTitle {
    font-size: 1.5rem;
    padding-bottom: 2.25rem;
  }
  .news .newsSecContent .newsCard {
    max-width: 300px;
  }
  .news .newsSecContent .newsCard img {
    width: 300px;
    height: 300px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
.about {
  width: 90%;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 5rem;
}
.about .aboutTitle {
  font-size: 2rem;
  color: var(--PrimaryColor);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}
.about .presseText1 {
  font-size: 1.25rem;
  color: var(--textColor);
  text-align: center;
  line-height: 1.75;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 45px;
}
.about .presseText2 {
  font-size: 1.25rem;
  color: var(--textColor);
  text-align: center;
  line-height: 1.75;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 45px;
}
.about .aboutSecContent {
  justify-content: center;
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.about .aboutSecContent .aboutCard {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 375px;
  max-height: auto;
  border: 1px solid rgb(24, 20, 12);
  border-radius: 5px;
  background: var(--backgroundColor1);
  padding-bottom: 25px;
  margin: 0 auto;
  transition: 0.5s;
  cursor: pointer;
}
.about .aboutSecContent .aboutCard:hover {
  transition: 1s;
  transform: scale(1.05);
  box-shadow: 0 0 5px 5px var(--SecondaryColor);
  background-color: var(--backgroundColor2);
  border: none;
}
.about .aboutSecContent .aboutCard img {
  width: 375px;
  height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 0.25rem;
}
.about .aboutSecContent .aboutCard .aboutCardInfo {
  padding: 1.5rem;
  line-height: 1.5;
}
.about .aboutSecContent .aboutCard .aboutName {
  font-size: 1.6rem;
  color: var(--PrimaryColor);
  padding-bottom: 1.5rem;
  text-align: center;
}
.about .aboutSecContent .aboutCard .aboutLinkName {
  font-size: 1.25rem;
  color: var(--PrimaryColor);
  text-align: center;
  transition: 0.3s;
  padding-top: 1rem;
}
.about .aboutSecContent .aboutCard .aboutLinkName:hover {
  color: rgb(255, 230, 167);
  transition: 0.3s;
}
.about .aboutSecContent .aboutCard .aboutInstrument, .about .aboutSecContent .aboutCard .aboutSkill, .about .aboutSecContent .aboutCard .aboutLink {
  font-size: 1.15rem;
  color: rgb(182, 136, 22);
  padding: 0 20px 0 20px;
}
.about .modal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2000;
  overflow: hidden;
}
.about .modal .modalCard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  justify-self: center;
}
.about .modal .modalCard img {
  max-width: 600px;
  max-height: 600px;
  margin: auto;
}
.about .modal .modalCard .aboutCardInfo {
  padding-left: 4rem;
  line-height: 1.5;
}
.about .modal .modalCard .aboutCardInfo .aboutName {
  font-size: 1.75rem;
  color: var(--PrimaryColor);
  padding-bottom: 15px;
  text-align: center;
}
.about .modal .modalCard .aboutCardInfo .aboutLinkName {
  font-size: 1.25rem;
  color: var(--PrimaryColor);
  padding-left: 5px;
  transition: 0.3s;
}
.about .modal .modalCard .aboutCardInfo .aboutLinkName:hover {
  color: rgb(255, 230, 167);
  transition: 0.3s;
}
.about .modal .modalCard .aboutCardInfo .aboutInstrument, .about .modal .modalCard .aboutCardInfo .aboutSkill, .about .modal .modalCard .aboutCardInfo .aboutLink, .about .modal .modalCard .aboutCardInfo .modalTextAdd {
  font-size: 1.1rem;
  color: var(--PrimaryColor);
  padding: 0 20px 0 20px;
}
.about .modal .modalCard .aboutCardInfo .aboutLink, .about .modal .modalCard .aboutCardInfo .modalTextAdd {
  padding-top: 15px;
}
.about .modal .modalClose {
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  color: rgb(100, 100, 100);
  font-size: 3.5rem;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.5s;
}
.about .modal .modalPrev, .about .modal .modalNext {
  position: absolute;
  top: 50%;
  width: auto;
  color: rgb(100, 100, 100);
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
.about .modal .modalPrev {
  left: 0;
  padding-left: 2rem;
}
.about .modal .modalNext {
  right: 0;
  padding-right: 3rem;
}
.about .modal .modalClose:hover, .about .modal .modalPrev:hover, .about .modal .modalNext:hover {
  color: antiquewhite;
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (max-width: 1000px) {
  .about .modal .modalCard img {
    max-width: 550px;
    max-height: 550px;
  }
  .about .modal .modalCard .aboutCardInfo {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .about {
    width: 100%;
  }
  .about .presseText1 {
    width: 95%;
  }
  .about .presseText2 {
    width: 95%;
  }
  .about .modal .modalCard {
    flex-direction: column;
  }
  .about .modal .modalCard img {
    max-width: 500px;
    max-height: 500px;
  }
  .about .modal .modalCard .aboutCardInfo {
    padding: 0;
  }
  .about .modal .modalCard .aboutCardInfo .aboutName {
    font-size: 1.75rem;
    color: var(--PrimaryColor);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
  .about .modal .modalCard .aboutCardInfo .aboutInstrument, .about .modal .modalCard .aboutCardInfo .aboutSkill, .about .modal .modalCard .aboutCardInfo .aboutLink, .about .modal .modalCard .aboutCardInfo .modalTextAdd {
    font-size: 1.1rem;
    color: var(--PrimaryColor);
    padding: 0 1rem 0 1rem;
  }
  .about .modal .modalCard .aboutCardInfo .aboutLink, .about .modal .modalCard .aboutCardInfo .modalTextAdd {
    padding: 0;
  }
}
@media screen and (max-width: 550px) {
  .about .aboutSecContent .aboutCard img {
    width: 300px;
    height: 300px;
  }
  .about .modal .modalCard img {
    max-width: 80%;
    max-height: 80%;
  }
  .about .modal .modalCard .aboutCardInfo {
    padding-top: 1.5rem;
  }
  .about .modal .modalCard .aboutCardInfo .aboutName {
    font-size: 1.5rem;
    color: var(--PrimaryColor);
    padding-bottom: 0.5rem;
  }
  .about .modal .modalCard .aboutCardInfo .aboutInstrument, .about .modal .modalCard .aboutCardInfo .aboutSkill, .about .modal .modalCard .aboutCardInfo .aboutLink, .about .modal .modalCard .aboutCardInfo .modalTextAdd {
    font-size: 1rem;
    color: var(--PrimaryColor);
    padding: 0 0.75rem 0 0.75rem;
  }
  .about .modal .modalClose {
    top: 0;
    right: 1rem;
  }
  .about .modal .modalPrev, .about .modal .modalNext {
    font-size: 2.5rem;
  }
  .about .modal .modalPrev {
    left: 0;
    padding-left: 1rem;
  }
  .about .modal .modalNext {
    right: 0;
    padding-right: 1.25rem;
  }
}
.tour {
  width: 90%;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 5rem;
}
.tour .tourTitle, .tour .tourTitle2 {
  font-size: 2rem;
  color: var(--PrimaryColor);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}
.tour .tourTitle2 {
  padding-top: 3rem;
}
.tour .tourSecContent {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.tour .tourSecContent .tourCard {
  width: 90%;
  max-height: auto;
  border-radius: 4px;
  background: var(--backgroundColor2);
  margin: 0.25rem auto;
  transition: 0.5s;
}
.tour .tourSecContent .tourCard:hover {
  transition: 1s;
  transform: scale(1.025);
  box-shadow: 0 0 2px 2px rgb(19, 19, 19);
  border: none;
}
.tour .tourSecContent .tourCard .tourCardInfo {
  padding: 1.25rem 5rem 1.25rem 20vw;
  line-height: 1.5;
}
.tour .tourSecContent .tourCard .tourCardInfo .tourCardTitle {
  display: flex;
}
.tour .tourSecContent .tourCard .tourCardInfo .tourCardTitle .tourPlace {
  font-size: 1.5rem;
  color: var(--textColor);
  padding-bottom: 0.75rem;
  padding-right: 6rem;
}
.tour .tourSecContent .tourCard .tourCardInfo .tourCardTitle .tourDate {
  font-size: 1.5rem;
  color: var(--textColor);
  padding-bottom: 0.75rem;
}
.tour .tourSecContent .tourCard .tourCardInfo .tourLocation {
  font-size: 1.5rem;
  color: var(--textColor);
  transition: 0.3s;
}
.tour .tourSecContent .tourCard .tourCardInfo .tourLocation:hover {
  color: var(--PrimaryColor);
  transition: 0.3s;
}
.tour .tourSecContent .tourCard .tourCardInfo .tourText {
  font-size: 1rem;
  color: rgb(182, 136, 22);
  padding: 0 20px 0 20px;
}

@media screen and (max-width: 800px) {
  .tour {
    width: 100%;
  }
  .tour .tourSecContent .tourCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    padding: 1rem 0 1rem 0;
  }
  .tour .tourSecContent .tourCard .tourCardInfo {
    padding: 0;
  }
  .tour .tourSecContent .tourCard .tourCardInfo .tourCardTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tour .tourSecContent .tourCard .tourCardInfo .tourCardTitle .tourPlace, .tour .tourSecContent .tourCard .tourCardInfo .tourCardTitle .tourDate {
    display: flex;
    font-size: 1.5rem;
    padding: 0;
    justify-items: center;
  }
  .tour .tourSecContent .tourCard .tourCardInfo .tourLocation, .tour .tourSecContent .tourCard .tourCardInfo .tourText {
    font-size: 1.35rem;
    text-align: center;
  }
}
.media {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 5rem;
}
.media .mediaTitle {
  font-size: 2rem;
  color: var(--PrimaryColor);
  text-align: center;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.media .ytVideo {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.media .ytVideo iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

@media screen and (max-width: 959px) {
  .video {
    width: 100%;
  }
  .video .mediaTitle {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 640px) {
  .video {
    width: 100%;
  }
  .video .ytVideo {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .video .ytVideo iframe {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
  }
}
.datenschutzMain {
  width: 90%;
  margin: 0 auto;
  padding-top: 12rem;
  padding-bottom: 5rem;
}
.datenschutzMain .datenschutzTitle {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--PrimaryColor);
  text-align: center;
  margin: 0 auto;
  padding-bottom: 4rem;
}
.datenschutzMain .datenschutz {
  width: 80%;
  font-size: 1.2rem;
  color: var(--textColor);
  line-height: 1.5;
  padding-bottom: 10vh;
  margin: auto;
}
.datenschutzMain .impressum {
  width: 70%;
  font-size: 1.2rem;
  color: var(--textColor);
  line-height: 1.5;
  padding-bottom: 10vh;
  margin: auto;
}
.datenschutzMain .tabbed {
  font-size: 1.2rem;
  color: var(--textColor);
  padding-left: 2%;
  line-height: 1.5;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .datenschutzMain {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .datenschutzMain {
    width: 100%;
  }
  .datenschutzMain .datenschutzTitle {
    font-size: 1.75rem;
  }
}/*# sourceMappingURL=app.css.map */